[submodule "Call & Response MIDI v.1/vendor/JUCE"]
	path = Call & Response MIDI v.1/vendor/JUCE
	url = https://github.com/juce-framework/JUCE.git
[submodule "Call & Response MIDI v.2/vendor/JUCE"]
	path = Call & Response MIDI v.2/vendor/JUCE
	url = https://github.com/juce-framework/JUCE.git
